<!-- Validation failure messages -->
<% if @icase.present? %>
  <% if @icase.errors.any? %>
    <% @icase.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new icase
</h1>

<hr>

<form action="/create_icase" method="post">
  <!-- Label and input for user_id -->

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <!-- Label and input for approach -->
  <div class="form-group">
    <label for="name">
      Name
    </label>
    <input type="text" id="approach" name="name" class="form-control" value="<%= @icase.try(:name) %>"></textarea>
  </div>


  <!-- Label and input for question -->
  <div class="form-group">
    <label for="question">
      Question
    </label>

    <textarea rows = "10" id="question" name="question" class="form-control" value="<%= @icase.try(:question) %>"></textarea>
  </div>

  <!-- Label and input for company_id -->
  <div class="form-group">
    <label for="company_id">
      Company
    </label>

      <%= select_tag("company_id", options_from_collection_for_select(Company.where(:club_id => params["club_id"]), :id, :name, @icase.try(:company_id)), :class => "form-control") %>
  </div>

  <!-- Label and input for role -->
  <div class="form-group">
    <label for="role">
      Role
    </label>

    <select id="role" name="role" class="form-control" value="<%= @icase.try(:role) %>">
        <option>Product Manager</option>
        <option>Product Marketing</option>
        <option>Strategy</option>
        <option>Operations</option>
        <option>Finance</option>
        <option>Associate</option>
      </select>
  </div>
  
  
  <!-- Label and input for category -->
  <div class="form-group">
    <label for="category">
      Category(type)
    </label>

    <select id="category" name="category" class="form-control" value="<%= @icase.try(:category) %>">
        <option>Behavioral</option>
        <option>Case</option>
        <option>Coding</option>
        <option>Other</option>
      </select>
  </div>
  

  <!-- Label and input for club_id -->
    <input type="hidden" id="club_id" name="club_id" class="form-control" value="<%= params["club_id"] %>">


  <!-- Label and input for approach -->
  <div class="form-group">
    <label for="approach">
      Approach
    </label>

    <textarea rows="6" type="text" id="approach" name="approach" class="form-control" value="<%= @icase.try(:approach) %>"></textarea>
  </div>

  <!-- Label and input for element -->
  <div class="form-group">
    <label for="element">
      Elements
    </label>

    <textarea rows="6" type="text" id="element" name="element" class="form-control" value="<%= @icase.try(:element) %>"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create Case
  </button>
</form>

<hr>

<a href="/icases">
  Go back
</a>
